<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/styles\index.css">
</head>

<body>
    <title>DocAI</title>
    <h1> Welcome to DocAI!</h1>
    <p>What is the health concern?</p>
    <div>
    <form>
        <input class = "inputboxblock" id = "user-input" input = "input" placeholder="ex. I have a fever">
        <button class = "buttonblock" id = "text-generator">generate</button>
    </form>
    </div>
    <p>Assistant Response:</p>
    <form>
        <input class = "outputboxblock" id = "ai-ouput" output = "output">
    </form>
</body>
</html>
